{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if category is not null %}
    <h2>{{ category.category.name }}</h2>
    <h3>Sent Emails</h3>
    {% for sentEmails in category.sentEmails %}
        <p>Subject</p>
        <pre>{{ sentEmails.email.subject }}</pre>
        <p>Body</p>
        <p>{{ sentEmails.email.body }}</p>
        <span>{{ sentEmails.email.timeSent|date('D, M Y h:m:s') }}</span>
        <span> - </span>
        <span>{{ sentEmails.email.member.username }}({{ sentEmails.email.member.email }})</span>
        <hr>
    {% endfor %}
    <h3>Received Emails</h3>
    {% for sentEmails in category.sentEmails %}
        <p>Subject</p>
        <pre>{{ sentEmails.email.subject }}</pre>
        <p>Body</p>
        <p>{{ sentEmails.email.body }}</p>
        <span>{{ sentEmails.email.timeSent|date('D, M Y h:m:s') }}</span>
        <span> - </span>
        <span>{{ sentEmails.email.member.username }}({{ sentEmails.email.member.email }})</span>
        <hr>
    {% endfor %}
{% else %}
    <h2>NOT A VALID CATEGORY!</h2>
{% endif %}
{% endblock %}
