{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if label is not null %}
    <h2>{{ label.label.name }}</h2>
    <p>{{ emailsPerPage }} emails per page</p>
    <h3>Sent Emails</h3>
    {% for sentEmails in label.sentOrReceivedEmails %}
        {% if sentEmails.sentEmail is not null %}
            <p>Subject</p>
            <pre>{{ sentEmails.sentEmail.email.subject }}</pre>
            <p>Body</p>
            <p>{{ sentEmails.sentEmail.email.body }}</p>
            <span>{{ sentEmails.sentEmail.email.timeSent|date('D, M Y h:m:s') }}</span>
            <span> - </span>
            <span>{{ sentEmails.sentEmail.email.member.username }}({{ sentEmails.sentEmail.email.member.email }})</span>
            <hr>
        {% endif %}
    {% endfor %}
    <h3>Received Emails</h3>
    {% for receivedEmails in label.sentOrReceivedEmails %}
        {% if receivedEmails.receivedEmail is not null %}
            <p>Subject</p>
            <pre>{{ receivedEmails.receivedEmail.email.subject }}</pre>
            <p>Body</p>
            <p>{{ receivedEmails.receivedEmail.email.body }}</p>
            <span>{{ receivedEmails.receivedEmail.email.timeSent|date('D, M Y h:m:s') }}</span>
            <span> - </span>
            <span>{{ receivedEmails.receivedEmail.email.member.username }}({{ receivedEmails.receivedEmail.email.member.email }})</span>
            <hr>
        {% endif %}
    {% endfor %}
{% else %}
    <h2>NOT A VALID LABEL!</h2>
{% endif %}

{% endblock %}
